.header {
    max-width: calc(100% - 400px);
    min-height: 74px;
    display: flex;
    margin: 45px auto 0;
    border-bottom: 1px solid #545454;
    opacity: .7;
}

@media (max-width: 1024px) {
    .header {
        max-width: 1024px;
        min-height: 56px;
        margin: 28px 0 0;
    }
}